.banner {
    position: relative;
    height: 80vh;
    color: white;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.banner__contents {
    margin-left: 50px;
    padding-top: 25vh;
    height: 190px;
    animation: fadeIn 1.2s ease-out;
}

.banner__title {
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

.banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.2rem;
    max-width: 600px;
    height: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

.banner__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: rgba(51, 51, 51, 0.5);
    transition: all 0.2s;
}

.banner__button:hover {
    color: #000;
    background-color: #e6e6e6;
}

.banner__button--play {
    background-color: #fff;
    color: #000;
}

.banner__button--info {
    background-color: rgba(109, 109, 110, 0.7);
}

.banner__button--play:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.banner--fadeBottom {
    height: 15rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #111);
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .banner__contents {
        margin-left: 20px;
        padding-top: 15vh;
    }

    .banner__title {
        font-size: 2rem;
    }

    .banner__description {
        font-size: 0.9rem;
        width: auto;
        padding-right: 20px;
    }
}