.login-screen {
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://assets.nflxext.com/ffe/siteui/vlv3/f8cae627-fd4b-49d0-9fc4-569b9a6d9064/24d52771-49fa-4712-b36d-55737be74a3f/IN-en-20220110-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-screen__card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 60px 68px 40px;
    width: 450px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.login-screen__card h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
}

.login-error {
    background: #e87c03;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    padding: 10px 20px;
    margin-bottom: 16px;
}

.login-screen__card form {
    display: flex;
    flex-direction: column;
}

.login-screen__card input {
    background: #333;
    border: none;
    border-radius: 4px;
    color: white;
    height: 50px;
    line-height: 50px;
    padding: 16px 20px;
    margin-bottom: 16px;
    outline: none;
}

.login-button {
    background: #e50914;
    border-radius: 4px;
    color: white;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
    cursor: pointer;
    border: none;
}

.login-help {
    display: flex;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 13px;
    margin-bottom: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
}

.login-footer {
    color: #737373;
    font-size: 16px;
    margin-top: 20px;
}

.switch-link {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.switch-link:hover {
    text-decoration: underline;
}

@media (max-width: 740px) {
    .login-screen__card {
        width: 100%;
        height: 100%;
        padding: 60px 20px;
        background: black;
    }
}