.row {
    color: white;
    margin-left: 20px;
}

.row__title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__posterWrapper {
    position: relative;
    transition: transform 450ms;
    margin-right: 10px;
    cursor: pointer;
}

.row__posterWrapper:hover {
    transform: scale(1.08);
    z-index: 10;
}

.row__poster {
    object-fit: cover;
    width: 100%;
    max-height: 100px;
    border-radius: 4px;
    background-color: #333;
    /* Placeholder color before image loads */
    transition: transform 450ms;
}

.row__posterLarge {
    max-height: 250px;
}

.row__posterInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8rem;
    font-weight: bold;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.row__posterWrapper:hover .row__posterInfo {
    opacity: 1;
}